body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #8E24AA, #6A1B9A);
}

.header {
    text-align: center;
    margin-top: 20px; /* Adjust this margin as needed */
}

.header img {
    width: 400px; /* Adjust the width to your desired size */
    height: auto; /* Maintain the aspect ratio */
}

.container {
    text-align: center;
    color: #fff;
    margin-top: 20px; /* Adjust this margin as needed */
}

h1 {
    font-size: 2em;
}

.loading-circle {
    width: 50px; /* Adjust the width and height for the loading circle */
    height: 50px;
    border: 4px solid rgba(255, 255, 255, 0.3); /* Border for the circle */
    border-top: 4px solid #fff; /* Border color for the loading animation */
    border-radius: 50%; /* Make it a circle */
    animation: spin 2s linear infinite; /* Add the loading animation */
    margin-top: 20px; /* Adjust this margin as needed */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
